<div>
  <!-- Connect your profile to other networks: -->
	Verbinde Deinen Account mit einem Netzwerk:
  <%= render :partial => "devise/shared/social_unconnected" %>
</div>

<div style="clear:both"></div>

<br/>
<div>
  Im Moment ist Dein Account verbunden mit:
  <%= render :partial => "devise/shared/social_connected" %>
</div>
