<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @abrechnung.user_id %>
</p>

<p>
  <b>Mail:</b>
  <%= raw YAML::load(@abrechnung.mail)['body'] %>
</p>

<p>
  <b>Bezahlt:</b>
  <%= @abrechnung.bezahlt %>
</p>


