<div class="msn">
	Für Deine Telefonnummer <b><%= msn.number %></b>
		<% verbindungen = msn.verbindungs.where(:rechnung_id => @rechnung.id) %>
		<%= render :partial => 'verbindungentabelle', :locals => {:verbindungen => verbindungen, :show_rechnung => false} %>
</div>
<p></p>
