<ul class="sb_menu">
	<li><%= link_to 'Home', root_url %></li>
	<li><%= link_to 'Neuen Zettel schreiben', new_page_path %></li>
	<li><%= link_to 'Deine Rechnungen auflisten', wg_rechnungs_path(current_user.wgs.first) %></li>
	<li><%= link_to 'Deine Verbindungen auflisten', me_verbindungs_path %></li>
</ul>
